.control-menu{
  background: white;
  border-bottom: 1px solid;
  border-color: #d3e0e9;
}

.control-inspector-menu{
  background: white;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #d3e0e9;
}