// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "libs/bootstrap-sass/assets/stylesheets/bootstrap";
@import "libs/videojs/video-js";
@import "libs/datatables/dataTables.bootstrap.min";
@import "components/forms/touchForm";
@import "components/navbars/navbarXs";
@import "components/player/playerContainer";
@import "components/menus/controlMenu";
@import "components/buttons/buttons";
@import "helpers/flex";
@import "helpers/paddings";
@import 'libs/bs-datetimepicker/bootstrap-datetimepicker';

.main-content {
  margin-top: 50px;
  padding-top: 20px;
}

.btn-touch {
  line-height: 1 !important;
}

.touch-link {
  padding: 0;
  line-height: 17px;
  color: black;
}

.input-group-addon {
  color: #555 !important;
}

input {
  color: #555 !important;
}

.box {
  border-radius: 0;
}

#inspectorBox {
  margin-bottom: 0;
  border-bottom: 1px solid;
  border-color: #d3e0e9;
}

.wrapper {
  background-color: #ecf0f5 !important;
}

[v-cloak] {
  display: none;
}

body, html {
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.wrapper {
  height: auto; /* These two lines were the key. */
  min-height: 100%;
  /*overflow:   hidden;*/
  /* Do not use this, it crops in small browsers. */
  margin: 0 auto;
  padding: 0 auto;
}

.content {
  margin-bottom: 53px;
}

textarea {
  color: #555 !important;
}
